.notes-wrapper {
  max-width: 800px;
  height: 200px;
  margin: 80px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.notes-title {
  color: #00668c;
  margin-bottom: 20px;
}

.notes-input-file {
  margin-bottom: 20px;
  width: 770px;
}


.upload-button {
  margin-left: 45%;
  background-color:#00668c;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
}

.upload-button:hover {
  background-color: #53afd1;
}

.notes-cards-container {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  gap: 20px;
  padding: 20px;
  background-color: #fff;
  border: 5px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 1050px;
  overflow-x: auto;
  margin-left: -130px;
}

.notes-card {
  height: 300px;
  flex: 0 0 calc((100% - 150px) / 3); /* Set the width for 3 cards in a row */
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.notes-card-timestamp {
  color: #777;
  margin-bottom: 10px;
}