.content {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 400px); /* Adjust the height as needed, subtracting header height */
  }
  
  .centered-content {
    text-align: center;
  }
  
  .centered-content img {
    
    max-width: 100%;
    max-height: 400px; /* Adjust the max-height as needed */
    height: auto;
    width:1000px;
  }