/*videos.css*/

.video-card {
    margin-bottom: 20px;
    height: 400px;
    width: 50%;
  }
  
  .video-card video {
    width: 100%;
  }
  
  .video-card .card-title {
    text-align: center;
  }
  