/* Adjust sidebar height */
.sidebar1 {
  position: fixed;
  top: 60px; /* Height of the header */
  left: 0;
  bottom: 0;
  width: 250px;
  background-color: #fff;
  border-right: 1px solid black;
  margin-left: 71px;
  border-top: 1px solid black;
  transition: width 0.3s ease; /* Add transition for width */
}

/* Adjust sidebar width when open */
.sidebar1.open {
  width: 250px; /* Adjust width as needed */
}

.menu-bar {
  display: flex;
  align-items: center;
  padding: 20px;
}

.timetable-label {
  padding-left: 10px;
  font-weight: bold;
}

.divider {
  border: none;
  border-top: 1px solid black;
}

.day-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.day-label {
  font-weight: bold;
  margin-top: 20px;
}

.dropdown-icon {
  margin-left: 0.5rem;
  transition: transform 0.3s ease;
}

/* Open Dropdown Icon */
.dropdown-icon.open {
  transform: rotate(180deg);
}

.day-options {
  padding: 20px;
}

.day-option {
  padding: 10px 20px;
  cursor: pointer;
}

/* Add responsive styles */
@media screen and (max-width: 768px) {
  .sidebar1 {
    width: 100%; /* Full width on smaller screens */
    position: relative;
    top: 0;
    height: auto;
    border-right: none;
  }
}

/* Add this CSS to your existing styles */

.timetable-container {
  position: relative; /* Set position to relative */
  border: 2px solid black; /* Thick black border */
  padding: 20px;
  text-align: center;
  width: 960px; /* Fixed width */
  height: 430px; /* Fixed height */
  margin-top: 150px;
  margin-left: 350px;
  border-radius: 10px;
}

.calendar-icon {
  position: absolute; /* Set position to absolute */
  font-size: 36px;
  margin-top: -50px;
  margin-left: 450px;
  color: #00668c;
  background-color: white;
}

.timetable-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: repeat(3, 1fr); /* 3 rows */
  gap: 10px;
}

.timetable-box {
  border: 1px solid black;
  width: 310px;
  height: 137px;
  background-color: #d4eaf7;
  border-radius: 5px;
  position: relative;
}

.timetable-box input {
  margin-bottom: 10px;
}

.add-icon,
.edit-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}