/* Notification.css */

.notification-container {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  margin: 100px;
  width: 900px;
  margin-left: 20%;
}

.notification-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification-count {
  background-color: #00668c;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  margin-left: 8px;
}

.notification-toggle {
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #00668c;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle-label {
  margin-left: 8px;
}

.notification-card {
  border: 5px solid #feffff;
  border-radius: 8px;
  padding: 12px 20px;
  margin-bottom: 12px;
  background-color: rgb(219, 217, 217);
  height: 100px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.sender-name {
  font-weight: bold;
  text-align: left;
  margin-right: 790px;
}

.timestamp {
  color: #555;
}

.message-body {
  white-space: pre-line;
  margin-left: 40px;
}

.no-messages {
  color: #555;
  margin-top: 8px;
}

.reply-section input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 37px;
  width: 200px;
}

.send-button {
  background-color: #00668c;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 20px;
}

.send-button:hover {
  background-color: #005870;
}

/* Media Query for Tablet */
@media (max-width: 1023px) {
  .notification-container {
      width: 80%; /* Adjust container width for tablet screens */
      margin-left: 10%; /* Center align the container */
  }

  .sender-name {
      margin-left: -20%; /* Adjust sender name position for tablet screens */
  }
}

/* Media Query for Mobile */
@media (max-width: 767px) {
  .notification-container {
      width: 90%; /* Adjust container width for mobile screens */
      margin: 20px auto; /* Center align the container */
  }

  .sender-name {
      margin-left: 0; /* Reset sender name position for mobile screens */
  }
}
