/* ForgotPasswordPage.css */

body {
  margin: 0;

}

.app-container {
  display: flex;
  height: 100vh;
}

.left-section,
.right-section {
  flex: 1;
  box-sizing: border-box;
  padding: 20px;
}

.left-section {
  background-color: #00668C;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-section {
  background-color: #D4EAF7;
  color: #00668C;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-section-image {
  width: auto;
  max-height: 100%;
  margin-bottom: 10px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

h3 {
  font-size: 16px;
  margin-bottom: 20px;
}

.inner-container {
  background-color:#8cc3d9;
  width: 100%;
  max-width: 400px; 
  margin: 0 auto; /* Center the inner-container horizontally */
  padding: 20px; /* Add padding for spacing */
  border-radius: 10px; /* Optional: Add border-radius for rounded corners */
  margin-top: 100px;
}

.email-input {
  width: 350px; 
  padding: 8px; 
  margin-bottom: 10px; 
}

.next-button {
  width: 100px;
  height: 40px; /* Adjust the height of the button */
  background-color: #00668C;
  border-radius: 5px; 
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top: 10px; 
}

.next-button:hover {
  background-color: #B6CCD8;
}
