/* PasswordRecoveryPage.css */
body {
  margin: 0;
  background: url('assets/fgp.jpeg') no-repeat;
  background-size: cover;
}
  .recovery-container {
   
    display: flex;
    height: 100vh;
    padding: 20px;
    align-items: center;
    justify-content: center;
  }
  
  .recovery-content {
    background-color:#B6CCD8;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px; /* Set a maximum width for the content */
    width: 100%; /* Make sure it takes full width on smaller screens */
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  input {
    width: calc(70% - 30px); /* Decrease the width and adjust as needed */
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
  }
  
  button {
    background-color: #00668C;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #B6CCD8;
  }
  